mvcweb/src/main/resources/wsdl/email/MsgField.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://com/firstdata/services/common/notification" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="MsgField">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="FieldID" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="FieldName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="FieldType" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="FieldValue" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>