mvcweb/src/main/resources/wsdl/email/Notification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://com/firstdata/services/common/notification" xmlns:bons1="http://com/firstdata/services/common/notification" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="AdditionalMessageData.xsd"/>
    <xsd:include schemaLocation="NotificationHeader.xsd"/>
    <xsd:complexType name="Notification">
		<xsd:sequence>
			<xsd:element minOccurs="1" name="NotificationHeader" type="bons1:NotificationHeader">
			</xsd:element>
			<xsd:element minOccurs="0" name="AdditionalMessageData" type="bons1:AdditionalMessageData">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>